@import url("/assets/css/themes/themes.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
}

a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: 0;
  border-radius: 8px;
  color: inherit;
}

.theme {
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.main {
  bottom: 2rem;
  margin: 1rem;
  text-align: left;
}

@media screen and (min-width: 640px) {
  .wrapper {
    background-color: var(--background);
    width: 48rem;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  padding: auto 0;
}

.title-text {
  font-size: 2rem;
}

.title-options {
  color: #343a40;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  padding: 0.2rem 0;
}

.btn-reset {
  background-color: var(--pause-reset-bg);
  color: var(--pause-reset-text);
  border-radius: 4px;
}

.about {
  font-size: 1rem;
  border-top: 1px dotted var(--separator);
  margin: 0.8rem 0 0;
  padding: 0.4rem 0;
}

.scoreboard {
  display: flex;
  border-top: 1px dotted var(--separator);
  justify-content: space-between;
  padding: 0 0 0.8rem;
}

.panel {
  padding: 0.4rem 0.2rem 0.4rem 0;
  text-align: center;
}

.panel:last-child {
  border: 0;
  padding: 0.4rem 0 0.4rem 0.2rem;
}

#team1,
#team2 {
  width: 50%;
}

.panel-title {
  font-size: 1.8rem;
  padding: 0.8rem 0 0;
  text-align: left;
}

.panel-section {
  margin: 0 0 0.4rem 0;
  text-align: left;
}

.panel-section:last-child {
  margin: 0;
}

.panel-subtitle {
  padding: 0.8rem 0 0.4rem;
}

.panel-operator {
  display: flex;
  justify-content: space-around;
}

.panel-btn {
  background-color: var(--counter-bg);
  color: var(--counter-text);
  font-weight: bold;
  height: 3.8rem;
  width: 33%;
  margin: 0 0.2rem 0 0;
}

.panel-btn:last-child {
  margin: 0;
}

.panel-btn-large {
  width: 50%;
}

.panel-btn-clicked {
  color: var(--counter-text-checked);
  background-color: var(--counter-bg-checked);
}

.timer {
  text-align: center;
}

.countdown-timer {
  background-color: var(--countdown-timer-bg);
  color: var(--countdown-timer-text);
  border: 2px solid var(--countdown-timer-border);
  border-radius: 8px;
  font-size: 4.2rem;
  height: 9rem;
  line-height: 9rem;
}

.countdown-running {
  border: 2px solid var(--countdown-running);
}

.countdown-warning {
  border: 2px solid var(--countdown-warning);
}

.countdown-high-timer,
.countdown-low-timer {
  display: flex;
  justify-content: space-around;
  margin: 0.6rem 0 0;
}

.countdown-btn {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  margin: 0.4rem 0.8rem 0 0;
}

.countdown-btn:last-child {
  margin: 0.4rem 0 0;
}

.countdown-high-timer button {
  background-color: var(--counter-bg);
  color: var(--counter-text);
  font-size: 1.6rem;
  height: 3rem;
  width: inherit;
}

.countdown-low-timer button {
  background-color: var(--counter-bg);
  color: var(--counter-text);
  font-size: 2.8rem;
  height: 8rem;
  width: inherit;
}

.countdown-pause-reset button {
  background-color: var(--pause-reset-bg);
  color: var(--pause-reset-text);
  font-size: 1.6rem;
  height: 3rem;
  width: inherit;
}
